{% macro bool_options(value, uni_text_enabled, uni_text_disabled) %}
  <option value="1"{{ value ? ' selected="selected"' : '' }}>{{ uni_text_enabled }}</option>
  <option value="0"{{ not value ? ' selected="selected"' : '' }}>{{ uni_text_disabled }}</option>
{% endmacro %}

{% import _self as form %}

{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-module" data-bs-toggle="tooltip" title="{{ uni_button_save }}"
          class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ uni_button_cancel }}" class="btn btn-light"><i
            class="fa-solid fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa-solid fa-circle-exclamation"></i> {{ error_warning }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}

    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ uni_text_edit }}</div>
      <div class="card-body">
        <form id="form-module" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-status" class="col-sm-4 col-form-label">{{ uni_entry_status }}</label>
            <div class="col-sm-8">
              <select name="module_mt_uni_credit_status" id="input-status" class="form-select">
                {{ form.bool_options(module_mt_uni_credit_status, uni_text_enabled, uni_text_disabled) }}
              </select>
              <div class="form-text">{{ uni_entry_status_small }}</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="input-unicid" class="col-sm-4 col-form-label">{{ uni_entry_unicid }}</label>
            <div class="col-sm-8">
              <input type="text" name="module_mt_uni_credit_unicid" value="{{ module_mt_uni_credit_unicid|default('') }}"
                placeholder="{{ uni_entry_unicid }}" id="input-unicid" class="form-control" />
              <div class="form-text">{{ uni_entry_unicid_small }}</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="input-reklama" class="col-sm-4 col-form-label">{{ uni_entry_reklama }}</label>
            <div class="col-sm-8">
              <select name="module_mt_uni_credit_reklama" id="input-reklama" class="form-select">
                {{ form.bool_options(module_mt_uni_credit_reklama, uni_text_enabled, uni_text_disabled) }}
              </select>
              <div class="form-text">{{ uni_entry_reklama_small }}</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="input-cart" class="col-sm-4 col-form-label">{{ uni_entry_cart }}</label>
            <div class="col-sm-8">
              <select name="module_mt_uni_credit_cart" id="input-cart" class="form-select">
                {{ form.bool_options(module_mt_uni_credit_cart, uni_text_enabled, uni_text_disabled) }}
              </select>
              <div class="form-text">{{ uni_entry_cart_small }}</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="input-debug" class="col-sm-4 col-form-label">{{ uni_entry_debug }}</label>
            <div class="col-sm-8">
              <select name="module_mt_uni_credit_debug" id="input-debug" class="form-select">
                {{ form.bool_options(module_mt_uni_credit_debug, uni_text_enabled, uni_text_disabled) }}
              </select>
              <div class="form-text">{{ uni_entry_debug_small }}</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="input-gap" class="col-sm-4 col-form-label">{{ uni_entry_gap }}</label>
            <div class="col-sm-8">
              <input type="number" min="0" step="1" name="module_mt_uni_credit_gap"
                value="{{ module_mt_uni_credit_gap|default(0) }}" placeholder="{{ uni_entry_gap }}" id="input-gap"
                class="form-control" />
              <div class="form-text">{{ uni_entry_gap_small }}</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}