{% if uni_status == 'No' %}
  <p class="uni-payment-checkout__error">{{ text_payment_unavailable }}</p>
{% elseif (uni_total < uni_minstojnost) or (uni_total > uni_maxstojnost) %}
  <p class="uni-payment-checkout__error">{{ text_cart_range }}</p>
{% else %}
  <input type="hidden" id="uni_prepare_installmentcheckout_url" value="{{ uni_prepare_installmentcheckout_url|e('html_attr') }}"/>
  <input type="hidden" id="uni_checkout_url" value="{{ uni_checkout_url|e('html_attr') }}"/>
  <input type="hidden" id="uni_get_product_link" value="{{ uni_get_product_link|e('html_attr') }}"/>
  <input type="hidden" id="uni_price" value="{{ uni_total|number_format(2, '.', '') }}"/>
  <input type="hidden" id="uni_eur" value="{{ uni_eur }}"/>
  <input type="hidden" id="uni_eur_bgn_rate" value="{{ uni_eur_bgn_rate|e('html_attr') }}"/>
  <input type="hidden" id="uni_sign" value="{{ uni_sign|e('html_attr') }}"/>
  <input type="hidden" id="uni_sign_second" value="{{ uni_sign_second|e('html_attr') }}"/>
  <script type="application/json" id="uni-cart-config">{{ uni_cart_config_json|raw }}</script>

  <div id="uni-cart-button-container">
    <div id="btn_uni" class="uni_button">
      <div class="uni_button_body">
        <div class="uni_button_body_left">
          <div class="uni_button_txt1"><span id="uni_button_installments_label">{{ uni_shema_current|e }}</span> {{ text_installments }}</div>
          <div class="uni_button_line"></div>
          <div class="uni_button_txt2">
            <span id="uni_button_mesecna_main">-</span>
            <span id="uni_button_mesecna_second" {% if uni_eur == 0 or uni_eur == 3 %}style="display:none;"{% else %}style="font-size:80%;"{% endif %}></span>
          </div>
        </div>
        <div class="uni_button_body_right">
          <img src="{{ uni_mini_logo|e('html_attr') }}" style="width:100%;float:right;" alt="" loading="lazy"/>
        </div>
      </div>
    </div>
  </div>

  <div id="uni-product-popup-container" class="modalpayment_uni" style="display:none;">
    <div class="modalpayment_content_uni">
      <div id="uni_body" class="uni_body">
        <div>
        <div class="uni_body">
          <img class="uni_image" title="{{ text_title_calc|e('html_attr') }}" src="{{ uni_picture|e('html_attr') }}" alt="{{ text_title_calc|e('html_attr') }}" loading="lazy"/>
          <div class="uni_body_txt">
            <div class="uni_gpr_container">
              <div class="uni_title_head">{{ uni_steps_intro|e }}</div>
              <div class="uni_title">
                <p>{{ text_step_1|e }}</p><p>{{ text_step_2|e }}</p><p>{{ text_step_3|e }}</p><p>{{ text_step_4|e }}</p>
              </div>
              <div class="uni_calc_back">
                <div class="uni_calc_logo"></div>
                <div class="uni_calc">
                  <div class="uni_gpr_container_row">
                    <div class="uni_gpr_column">{{ text_item_price|e }}</div>
                    <div class="uni_gpr_column_right">
                      {% if uni_eur == 0 or uni_eur == 3 %}
                        <span class="uni_red"><span id="uni_price_int"></span>.<span class="uni_sub"><span id="uni_price_dec"></span>&nbsp;{{ uni_sign|e }}</span></span>
                      {% else %}
                        <span class="uni_red">
                          <span id="uni_price_int"></span>.<span class="uni_sub"><span id="uni_price_dec"></span>&nbsp;{{ uni_sign|e }}</span>
                          <span style="font-size:70%;">(<span id="uni_price_second_int"></span>.<span class="uni_sub"><span id="uni_price_second_dec"></span>&nbsp;{{ uni_sign_second|e }}</span>)</span>
                        </span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="uni_gpr_container_row">
                    <div class="uni_gpr_column"><span class="uni_red">{{ uni_meseci_txt|e }}</span></div>
                    <div class="uni_gpr_column_right">
                      <select id="uni_pogasitelni_vnoski_input" class="uni_txt_right">
                        {% for m in [3,4,5,6,9,10,12,15,18,24,30,36] %}
                          {% if attribute(_context, 'uni_meseci_' ~ m) %}
                            <option value="{{ m }}" {% if uni_shema_current == m %}selected{% endif %}>{{ m }} {{ text_months|e }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="uni_gpr_container_row">
                    <div class="uni_gpr_column">{{ uni_vnoska_txt|e }}</div>
                    <div class="uni_gpr_column_right">
                      {% if uni_eur == 0 or uni_eur == 3 %}
                        <span class="uni_red"><span id="uni_vnoska_int"></span>.<span class="uni_sub"><span id="uni_vnoska_dec"></span>&nbsp;{{ uni_sign|e }}</span></span>
                      {% else %}
                        <span class="uni_red">
                          <span id="uni_vnoska_int"></span>.<span class="uni_sub"><span id="uni_vnoska_dec"></span>&nbsp;{{ uni_sign|e }}</span>
                          <span style="font-size:70%;">(<span id="uni_vnoska_second_int"></span>.<span class="uni_sub"><span id="uni_vnoska_second_dec"></span>&nbsp;{{ uni_sign_second|e }}</span>)</span>
                        </span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="uni_gpr_container_row"><div class="uni_gpr_column">{{ text_glp|e }}</div><div class="uni_gpr_column_right"><span class="uni_red"><span id="uni_glp_int"></span>%</span></div></div>
                  <div class="uni_gpr_container_row"><div class="uni_gpr_column">{{ text_apr|e }}</div><div class="uni_gpr_column_right"><span class="uni_red"><span id="uni_gpr_int"></span>%</span></div></div>
                  <div class="uni_gpr_container_row"><div class="uni_panel_help_text">{{ text_help_repayment|e }}</div></div>
                </div>
              </div>
            </div>
            <div style="padding-bottom:20px;"></div>
            <div class="uni_buttons">
              <div class="uni_btn_seccondary" id="uni_back_unicredit"><div class="uni_btn_seccondary_inner"><div class="uni_btn_seccondary_inner_text">{{ text_cancel|e }}</div></div></div>
              <div class="uni_btn_primary" id="uni_buy_on_installment"><div class="notify-badge"></div><div class="uni_btn_primary_inner"><div class="uni_btn_primary_inner_text">{{ text_buy_installment|e }}</div></div></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
